@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.nav-items .nav-item {
    margin: 0 2rem;
    color: pink;
    text-decoration: none;
    cursor: pointer;
}

.nav-items .nav-item:hover {
    color: white;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

main {
    overflow: hidden;
}

.logo {
  width: 100px;
}
